<div class="index">
	<section>
		<h2>About</h2>

		<div>
			<p><strong>NEXT|Transit</strong> is two things: First, lists the collection of local, city-specific transit applications created by <strong>NEXT|Transit</strong>. Second, it publishes both the data used by each of those applications, as well as the API to consume the data in another application.</p>
		</div>
	</section>

	<div class="row">
		<section class="col-6">
			<h2>Transit Apps</h2>
			
			<div class="box">
				<article><a href="http://nextsepta.com" target="_blank">NEXT|Septa (Philadelphia)</a></article>
				<article><a class="index-coming-soon">RTD (Denver)</a></article>
			</div>
		</section>

		<section class="col-6">
			<h2>API</h2>

			<div class="box">
				<article>
					<h3 class="h4"><a href="/docs#intro">Introduction</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#agencies">Agencies</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#routetypes">Route Types</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#routes">Routes</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#directions">Directions</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#simplifiedstops">Simplified Stops</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#stops">Stops</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#shapes">Shapes</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#stats">Stats</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#trips">Trips</a></h3>
				</article>
			</div>
		</section>
	</div>
</div>