<div class="index">
	<section>
		<h2 class="h2">About NEXT-Transit</h2>

		<p class="p">
			<strong>NEXT-Transit</strong> provides a REST data <a href="/docs">API</a> for transit agency GTFS data, with a few enhancements.
		</p>

		<p class="p">
			This site also serves as list client applications using the <strong>NEXT-Transit</strong> API.
		</p>

		<p class="p">
			NEXT-Transit is open-source. You can find the repository for the data importer and API <a href="http://github.com/reedlauber/next-transit-data">here</a>.<br />
			And the repository for NEXT-Transit clients <a href="http://github.com/reedlauber/next-transit">here</a>.
		</p>
	</section>

	<div class="row">
		<section class="col-6">
			<h2 class="h2">API</h2>

			<div class="box">
				<article>
					<h3 class="h4"><a href="/docs#intro">Introduction</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#agencies">Agencies</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#routetypes">Route Types</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#routes">Routes</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#directions">Directions</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#simplifiedstops">Simplified Stops</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#stops">Stops</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#shapes">Shapes</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#stats">Stats</a></h3>
				</article>
				<article>
					<h3 class="h4"><a href="/docs#trips">Trips</a></h3>
				</article>
			</div>
		</section>

		<section class="col-6">
			<h2 class="h2">Transit Apps</h2>
			
			<div class="box">
				<article><a href="http://nextsepta.com" target="_blank">NEXT|Septa (Philadelphia)</a></article>
				<article><a class="index-coming-soon">NEXT|rtd (Denver)</a></article>
			</div>
		</section>
	</div>
</div>