<div class="sample" ctrl="sample-ctrl">
	<h1>Sample API Request</h1>

	<div class="control-group">
		<label for="api_key" class="form-label">API Key</label>
		<input type="text" id="api_key" />
	</div>

	<div class="control-group">
		<label for="fields" class="form-label">Fields</label>
		<input type="text" id="fields" />
	</div>

	<div class="control-group">
		/ <input type="text" id="req-param-1" class="input-tiny" />
		/ <input type="text" id="req-param-2" class="input-tiny" />
		/ <input type="text" id="req-param-3" class="input-tiny" />
		/ <input type="text" id="req-param-4" class="input-tiny" />
		/ <input type="text" id="req-param-5" class="input-tiny" />
		/ <input type="text" id="req-param-6" class="input-tiny" />
		/ <input type="text" id="req-param-7" class="input-tiny" />
		/ <input type="text" id="req-param-8" class="input-type" />
		<input type="button" id="submit-btn" class="btn" value="Submit" />
	</div>

	<div id="results" class="sample-results">
	</div>
</div>